@media (max-width: 1440px) {
    .main__section__content .phone__img .img{
        height: 600px;
    }

    .main__section__content .phone__img .img:nth-child(2){
        left: 300px;
    }
    .main__section__content .phone__img{
        margin-left: 0;
    }

    #main__section{
        height: 800px;
    }

    #main__section .plan__img {
        top: 163px;
    }

    .main__section__content .text p{
        font-size: 27px;
        margin: 20px 0;
    }

    #main__section .img__star__2{
        left: 430px;
    }

    #main__section .img__star__3{
        bottom: 190px;
    }

    #main__section .img__star__1{
        top: 170px;
    }

    .about__section__content .info__text p{
        font-size: 23px;
    }

    #app__screens  .swiper-container .img{
        height: 400px;
     }

     #app__screens .swiper-container {
        padding: 30px 0;
     }

     #app__screens {
        height: 520px;
     }

     .customers__content .customers__feedback{
        width: 700px;
     }

     .customers__content .feedback__card span{
        font-size: 60px;
     }

     .customers__content .feedback__card p{
        font-size: 25px;
     }

     .customers__content .customers__feedback .arrows .swiper-button-next {
        width: 55px;
        height: 40px;
     }
     .customers__content .customers__feedback .arrows .swiper-button-prev {
        width: 55px;
        height: 40px;
     }

     .customers__content .customers__feedback .arrows{
        bottom: 80px;
     }

     .customers__content .feedback__card h4{
        margin-top: 20px;
     }
     .customers__feedback .img{
        bottom: 0;
     }

     .customers__content .bg__img{
        width: 400px;
     }

     .customers__content .star__img__2{
        left: 50px;
     }

     .customers__content{
        gap: 0;
     }

     #app_download {
        height: 1000px;
     }

     .app_download_content .phone__img {
        height: 700px;
     }

     .contact__form form input {
        height: 60px;
        font-size: 22px;
    }
    
    .contact__form form textarea{
        height: 180px;
        font-size: 22px;
    }

    #contact__us .contact__img__line {
        left: 380px;
        top: -190px;
    }

    #contact__us .contact__img__line__2 {
        left: 35%;
        bottom: -20px;
    }

}


@media (max-width: 1370px) {
    .nav__content .nav__links a{
        font-size: 17px;
    }

    .nav__content .app__language{
        width: 170px;
        height: 60px;
    }

    .nav__content .logo {
        width: 150px;
        height: 60px;
    }

    #main__section .plan__img {
            top: 155px;
    }

    .about__section__content .info__text p{
        font-size: 20px;
    }

    .about__section__content .img-container{
        width: 400px;
    }

    .about__section__content .phone__img{
        width: 250px;
    }

    .customers__content .customers__feedback .arrows{
        bottom: 50px;
     }

     .customers__content .feedback__card h4{
        margin-top: 20px;
     }

     #app_download{
        height: 800px;
     }

     .app_download_content .phone__img {
        height: 500px;
     }

     .app_download_content h2 {
        font-size: 35px;
     }

     .app_download_content p{
        font-size: 25px;
     }

     .app_download_content .btn{
        width: 200px;
        height: 60px;
     }

     .main__section__content .text .btns .btn{
        width: 200px;
     }

     .main__section__content .text p{
        font-size: 25px;
     }

     .app__features__content .card p{
        font-size: 18px;
     }

     #contact__us .contact__img__line {
        left: 360px;
        top: -140px;
    }

    #contact__us .contact__img__line__2 {
        left: 35%;
        bottom: 20px;
    }
}

@media (max-width: 1024px) {
 
    .nav__content .nav__links{
        gap: 10px;
    }

    .nav__content .nav__links a{
        font-size: 15px;
    }

    .main__section__content .phone__img .img{
        height: 370px;
    }
    .main__section__content .phone__img .img img{
        width: 100%;
        object-fit: contain;
    }

    .main__section__content .phone__img{
        display: flex;
        justify-content: end;
    }

    .main__section__content .phone__img .img:nth-child(2){
        left: 150px;
    }

    .main__section__content .text h1{
        font-size: 25px;
        z-index: 999;
        position: relative;
    }

    .main__section__content .text p{
        font-size: 20px;
    }

    #main__section .plan__img{
        top: 125px;
    }

    #main__section .img__star__2{
        left: 280px;
    }

    #main__section{
        height: 500px;
    }
    .main__section__content .text .btns .btn .btn__text .img{
        width: 80px;
     }

     .main__section__content .text .btns .btn span{
        font-size: 15px;
     }

    .main__section__content .text .btns .btn .btn__text .img img{
        width: 100%;
        height: 100%;
    }

    .main__section__content .text .btns .btn{
        width: 190px;
    }

    .about__section__content .img-container{
        width: 300px;
    }

    .about__section__content .phone__img{
        width: 200px;
    }

    .about__section__content .info__text p{
        font-size: 17px;
    }

    .about__section__content .star__img {
        position: absolute;
        top: 28%;
        right: 10px;
    }

    #app__screens {
        height: 500px;
      }

      #app__screens .swiper-container .img{
        height: 350px;
      }

      .customers__content .customers__feedback{
        width: 50%;
        height: 450px;
      }

      .customers__content .feedback__card h4 {
        font-size: 22px;
        margin-top: 10px;
      }

      .customers__content .feedback__card p{
        font-size: 18px;
      }

      .customers__feedback .img {
        width: 70px;
        height: 60px;
        right: 0px;
        z-index: 9;
    }

    .customers__content .customer__img{
        height: 370px;
    }
      .customers__content .customer__img .customer__img__man{
        width: 350px
      }

      .customers__content .bg__img{
        width: 350px;
      }

      .contact__form .section__description{
        font-size: 20px;
      }

      #contact__us .contact__img__line {
        left: 215px;
        top: -130px;
        height: 220px;
    }

    #contact__us .contact__img__line__2 {
        left: 31%;
        bottom: 0px;
        height: 200px;
    }

    .contact__form form textarea {
        height: 100px;
        font-size: 14px;
    }

    .contact__form form{
        gap: 10px;
    }

    .contact__form form input {
        height: 40px;
        font-size: 14px;
    }

    footer{
        height: 250px;
    }

    footer .footer__logo {
        display: block;
        width: 200px;
        height: 75px;
    }

    .footer__links .link{
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    footer .footer__line{
        width: 170px;
    }

    footer .star__img:nth-child(4) {
        top: 190px;
        right: 30%;
    }
    .copy__write p{
        font-size: 18px;
    }

    .copy__write h5{
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .nav__content .nav__links{
        display: none;
    }

    .nav__content .app__language{
        display: none;
    }

    .nav__content .bar__icon{
        display: flex;
    }
}


@media (max-width: 768px){
    .main__section__content .phone__img .img{
        height: 250px;
    }

    .main__section__content .phone__img{
        width: 130px;
    }

    .main__section__content .phone__img .img:nth-child(2){
        left: 0;
        bottom: -50px;
    }

    #main__section .img__star__2 {
        left: 145px;
        top: 100px;
    }

    #main__section .img__star__3{
        left: 250px;
    }

    #main__section .line__img{
        top: 20px;
    }

    #main__section .plan__img{
        top: 70px;
    }

    #main__section .btn__logo{
        width: 20px;
    }
    .main__section__content .text .btns .btn span{
        font-size: 11px;
    }
    #main__section .btn__logo img{
      width: 100%;
      height: 100%;
    }

    .main__section__content .text .btns .btn .btn__text .img{
        width: 65px;
    }

    .main__section__content .text .btns .btn {
        padding: 5px;
    }

    #main__section{
        height: 400px;
    }

    #main__section .bottom__img{
        height: 100px;
        bottom: -30px;
    }
    #main__section .bottom__img img{
       width: 100%;
       height: 100%;
    }

    .about__section__content .info__text p{
        font-size: 15px;
    }

    .about__section__content .img-container{
        width: 270px;
    }

    .about__section__content .phone__img{
        width: 170px;
    }

    .about__section__content .info__text{
        margin-bottom: 50px;
    }

    .section__description{
        font-size: 25px;
    }

    #about__section .about__line .img__line {
        position: absolute;
        left: -250px;
        top: -290px;
    }

    #about__section .plan__img {
        left: 275px;
        position: absolute;
        top: 160px;
    }

    .app__features__content .card{
        width: calc(100% / 2 - 15px);
    }

    .app__features__content .card h2{
        font-size: 20px;
    }

    .app__features__content .card p {
        font-size: 15px;
    }

    .app__features__content .card .img{
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    h3 span{
        font-size: 25px;
    }

    .customers__content .feedback__card span{
        font-size: 40px;
    }

    .customers__content .feedback__card p {
        font-size: 15px;
    }

    .customers__content .feedback__card h4{
        font-size: 18px;
    }

    .customers__content .customers__feedback .arrows {
        bottom: 80px;
    }

    .customers__content .customer__img .customer__img__man{
        width: 250px;
    }

    .customers__content .bg__img{
        width: 250px;
    }

    .customers__content .customer__img .star__img {
        width: 60px;
        height: 60px;
    }

    #app_download {
        height: 500px;
    }

    .app_download_content .phone__img{
        height: 350px;
        margin-bottom: 100px;
    }

    .app_download_content h2{
        font-size: 25px;
    }

    .app_download_content  p{
        font-size: 18px;
    }

    .app_download_content .btn {
        width: 120px;
        height: 40px;
    }

    #contact__us .contact__img__line__2{
        left: 27%;
    }

    #contact__us .contact__img__line {
        left: 145px;
        top: -109px;
        height: 220px;
    }

    #app_download .line__img {
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
    }

    #app_download .plan__img {
        position: absolute;
        left: 15px;
        top: 105px;
        width: 40px;
        height: 35px;
    }
}

@media (max-width: 425px) {
    .main__section__content{
        flex-direction: column-reverse;
    }

    .main__section__content .text{
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }

    .main__section__content .phone__img{
        width: 100%;
    }

    #main__section .line__img{
        top: 0;
    }

    .main__section__content .phone__img .img:nth-child(2){
        left: 110px;
    }

    #main__section .bottom__img {
        height: 83px;
        bottom: 0px;
    }

    #main__section{
        height: auto;
    }

    #main__section .img__bg{
        height: 400px;
    }

    #main__section .bottom__img{
        bottom: 210px;
    }

    #about__section{
        margin-top: 50px;
    }

    .about__section__content .info{
        flex-direction: column;
        gap: 60px;
    }

    .about__section__content .img-container{
        width: 100%;
    }

    #about__section .about__line .img__line {
        position: absolute;
        left: -652px;
        top: -385px;
        transform: rotate(28deg);
    }

    #about__section .plan__img {
        left: 45px;
        position: absolute;
        top: 170px;
    }

    #about__section .plan__img img {
        transform: rotate(210deg);
    }

    .section__description{
        margin-bottom: 30px;
        font-size: 20px;
    }

    #main__section .plan__img {
        top: 15px;
        transform: translateX(47%) rotate(-13deg);
    }

    .app__features__content .card{
        width: 100%;
    }

    .customers__content{
        flex-direction: column-reverse;
    }

    .customers__content .customers__feedback{
        width: 100%;
    }

    .about__section__content .info__text{
        margin-top: 20px;
    }

    #app__features{
        margin-top: 20px;
    }

    #app__screens .swiper-container .img {
        width: 300px;
        margin: auto;
    }

    #app__screens {
        margin-top: 20px;
    }

    .app_download_content{
        flex-direction: column-reverse;
        justify-content: start;
    }

    .app_download_content .download__text{
        width: 100%;
        text-align: center;
    }

    .app_download_content .btns{
        justify-content: center;
    }

    .app_download_content .phone__img {
        width: 200px;
        height: 200px;
        margin-bottom: 0;
        animation: none;
    }

    .app_download_content h2{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .app_download_content p{
        font-size: 15px;
    }

    .contact__us__content{
        flex-direction: column-reverse;
    }

    .contact__img, .contact__form{
        width: 100%;
    }

    #contact__us .contact__img__line {
        left: 143px;
        top: -65px;
        height: 123px;
    }

    #contact__us .contact__img__line__2 {
        left: 57%;
        top: 213px;
        height: 145px;
    }

    .contact__form h3{
        justify-content: center;
    }

    .contact__form .section__description{
        text-align: center;
    }

    .contact__form form input, .contact__form form  textarea{
        font-size: 13px;
    }

    footer .star__img:nth-child(1){
        top: 15px;
        left: 15px;
    }

    footer .footer__line__plan {
        position: absolute;
        width: 160px;
        height: 150px;
        right: -30px;
        bottom: -6px;
    }

    footer .footer__line {
        width: 70px;
        height: 130px;
    }

    footer .star__img:nth-child(3) {
        top: 20px;
        right: 20px;
        width: 16px;
        height: 16px;
    }

    footer .star__img:nth-child(4) {
        top: 205px;
        right: 15%;
    }

    footer .footer__logo {
        display: block;
        width: 130px;
        height: 55px;
    }

    .copy__write{
        flex-direction: column;
        gap: 20px;
    }

    .copy__write h5 {
        font-size: 14px;
    }
}


@media (max-width: 375px) {
    .main__section__content .phone__img{
        padding-right: 100px;
    }

    .main__section__content .phone__img .img:nth-child(2){
        left: 50px;
    }

    #main__section .bottom__img{
        bottom: 250px;
    }

    .about__section__content .info{
        gap: 0px;
    }

    #main__section .img__star__3 {
        left: 50px;
        bottom: 300px;
    }

    #main__section .img__star__1 {
        top: 170px;
        left: 10px;
    }

    .main__section__content .phone__img .img:nth-child(2) {
        left: 30px;
    }

    #app__screens .swiper-container .img{
        width: 250px;
    }

    .customers__content .feedback__card p{
        font-size: 12px;
    }

    .customers__content .customers__feedback{
        padding: 0;
        height: 350px;
        margin-top: 30px;
    }

    .customers__content .customers__feedback .arrows{
        bottom: 40px;
    }
    .customers__feedback .img {
        width: 50px;
        height: 40px;
        right: 0px;
        z-index: 9;
    }

    #customers{
        margin: 20px 0;
    }

    #contact__us .contact__img__line {
        left: 85px;
    }

    #contact__us .contact__img__line__2 {
        left: 56%;
        top: 187px;
        height: 145px;
    }
}

@media (max-width: 320px) {
    #main__section .bottom__img{
        bottom: 275px;
        right: 0;
    }

    #contact__us .contact__img__line__2 {
        left: 47%;
        top: 150px;
        height: 145px;
    }
}